<header id="heading">
		<div id="headName">
		Old Book Shelf
		</div>
		<div id="headLine">
		Just give and Take
		</div>
		</header>
<nav id="otherNav" class="navbar navbar-inverse" data-spy="affix" data-offset-top="170">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#/">Old Book Shelf</a>
                </div>

                <div class="collapse navbar-collapse" id="js-navbar-collapse">

<ul class="nav navbar-nav">
<li class="" ng-if="isAuthenticated"><a href="#/home">Home</a></li>
<li id="mySignupBtn" class="" ng-if="!isAuthenticated"><a href="#/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
<li id="myLoginBtn" class="" ng-if="!isAuthenticated"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
<li ng-if="!isAuthenticated"><a href="#/working">How it Works</a></li>
<li ng-if="isAuthenticated"><a href="#/about">About Us</a></li>
<li class="" ng-if="isAuthenticated"><a href="#/donatebook">Send Book</a></li>
<li ng-if="isAuthenticated"><a href="#/order">Order Book</a></li>
<li ng-if="isAuthenticated"><a href="#/hall">Hall of Fame</a></li>
<li ng-if="isAuthenticated"><a href="#/contact">Contact Us</a></li>
<li ng-if="isAuthenticated"><a href="#/faq">FAQ</a></li>
<li ng-if="isAuthenticated"><a href="#/logout">Logout</a></li>
</ul>
                </div>
            </div>
        </nav>
<div id="about" class="container">
<h2>About Us</h2>
<div id="shelf" class="container">
<img id="bookTable" src="../images/novels/juliusCaesar.jpg" class="img-responsive img-thumbnail novels" alt="Julius Caesar" data-toggle="tooltip" title="Julius Caesar" data-placement="bottom">
<img id="bookTable" src="../images/novels/placeSafety.jpg" class="img-responsive img-thumbnail novels" alt="Place of Greater safety" data-toggle="tooltip" title="A Place of Greater Safety" data-placement="bottom">
<img id="arrange" src="../images/shelf.jpg" class="img-responsive img-thumbnail" alt="shelf" data-toggle="tooltip" title="Book Shelf" data-placement="bottom">
<img id="bookTable" src="../images/novels/taleCities.jpg" class="img-responsive img-thumbnail novels" alt="Tale of two cities" data-toggle="tooltip" title="A Tale of Two Cities" data-placement="bottom">
<img id="bookTable" src="../images/novels/whatIf.jpg" class="img-responsive img-thumbnail novels" alt="What if" data-toggle="tooltip" title="What If" data-placement="bottom">
</div>
<div class="panel panel-default">
  <div class="panel-heading"><h2>How it started?</h2></div>
  <div class="panel-body"><h4>We found that there are many book lovers who want to read books of past, books of every genre. People cannot purchase each and every book that’s there. Though many books are available online, many old author books are no more for sale. Some want to keep their books with themselves while some just want to give away.</h4>
<h4>Over last two years we had been gathering old books from people of different places. Its been a long journey that we had to notify people through various ways and make them know that its possible to exchange books instead of regretting for not purchasing earlier.</h4>
<h4>We formed groups from different places and collected books from lots of book lovers who were happy to donate books just like that. We gathered various genre books and now spreading to various other places. We thank all the people who donated books as soon as we asked.</h4>
	</div>
</div>
	<h2>The Team</h2>
<div class="flex-container">
  <div class="flex-item">
	<img id="member1" src="../images/memb1.png" class="img-responsive img-circle member" alt="Member 1" data-toggle="tooltip" title="Vijay Krishna" data-placement="bottom">
<h3>Vijay Krishna</h3>
<h3>CEO</h3>
<h4>A passionate mystery &amp; historical fiction lover who turned pages of several books since long. He likes to dive deep into history whether its real or imaginary work, he just loves it. When he wanted to get the best book, he found it through a stranger and continued collecting more books in similar way. Hence this passion drove him to form groups and gather books from different places.</h4>
	</div>
  <div class="flex-item">
	<img id="member2" src="../images/memb2.jpg" class="img-responsive img-circle member" alt="Member 2" data-toggle="tooltip" title="Bhavya Bhonsle" data-placement="bottom">
	<h3>Bhavya Bhonsle</h3>
	<h3>MD</h3>
	 <h4>A very active reader of horror &amp; mystery novels. When she couldn't get her favorite book it was then she started searching in old books stores. She found it rather difficult to roam for the book she wanted. Then she thought of making it available online so readers can access the hard copy easily.</h4>
	</div>
  <div class="flex-item">
	 <img id="member3" src="../images/memb3.png" class="img-responsive img-circle member" alt="Member 3" data-toggle="tooltip" title="Suresh Y" data-placement="bottom">
	<h3>Suresh Sigundey</h3>
	<h3>CTO</h3>
	<h4>A creative genius who loves to read comedy &amp; science-fiction all the time. He forgets time if he takes a book but surely finishes it in the shortest time. His habbit of sharing &amp; borrowing of books with far-off friends led him to implement the same to happen online. His professional &amp; technical skills were highly impactive in building this service. </h4>
	</div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><h2>Our Mission &amp; Vision</h2></div>
  <div class="panel-body"><h4><b>Our Mission:</b> To encourage new readers &amp; book lovers to read more books and attract new readers from different places to contribute for our book shelf. </h4>
<h4><b>Our Vision:</b> To gather the rarest books from all over and make them available on our shelf for passionate readers.</h4>
	</div>
</div>
</div>