<header id="heading">
		<div id="headName">
		Old Book Shelf
		</div>
		<div id="headLine">
		Just give and Take
		</div>
		</header>
<nav id="otherNav" class="navbar navbar-inverse" data-spy="affix" data-offset-top="170">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#/">Old Book Shelf</a>
                </div>

                <div class="collapse navbar-collapse" id="js-navbar-collapse">

<ul class="nav navbar-nav">
<li class="" ng-if="isAuthenticated"><a href="#/home">Home</a></li>
<li id="mySignupBtn" class="" ng-if="!isAuthenticated"><a href="#/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
<li id="myLoginBtn" class="" ng-if="!isAuthenticated"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
<li ng-if="!isAuthenticated"><a href="#/working">How it Works</a></li>
<li ng-if="isAuthenticated"><a href="#/about">About Us</a></li>
<li class="" ng-if="isAuthenticated"><a href="#/donatebook">Send Book</a></li>
<li ng-if="isAuthenticated"><a href="#/order">Order Book</a></li>
	<li ng-if="isAuthenticated"><a href="#/hall">Hall of Fame</a></li>
<li ng-if="isAuthenticated"><a href="#/contact">Contact Us</a></li>
<li ng-if="isAuthenticated"><a href="#/faq">FAQ</a></li>
<li ng-if="isAuthenticated"><a href="#/logout">Logout</a></li>
</ul>
                </div>
            </div>
        </nav>

	<!--carousel begin-->
	<div id="my-carousel" class="carousel slide" data-ride="carousel">	
        <ol class="carousel-indicators">
        <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#my-carousel" data-slide-to="1"></li>
        <li data-target="#my-carousel" data-slide-to="2"></li>
        <li data-target="#my-carousel" data-slide-to="3"></li>
        </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
        <img src="../images/carousel/popularAuthors.JPG" class="item" alt="Popular Authors">
            <div class="carousel-caption">
            <h3>Popular Authors</h3>
            </div>
        </div>
    <div class="item">
        <img src="../images/carousel/popularBooks.JPG" class="item" alt="Popular Novels">
            <div class="carousel-caption">
            <h3>Popular Novels</h3>
            </div>
        </div>
    <div class="item">
        <img src="../images/carousel/longestNovels.JPG" class="item" alt="Longest Novels">
            <div class="carousel-caption">
            <h3>Longest Novels</h3>
            </div>
        </div>
    <div class="item">
        <img src="../images/carousel/shortestNovels.JPG" class="item" alt="Shortest Novels">
            <div class="carousel-caption">
            <h3>Shortest Novels</h3>
            </div>
        </div>
        </div>
    <span data-target="#my-carousel" class="carousel-control left" role="button" data-slide="prev">
		<i class="glyphicon glyphicon-chevron-left"></i></span>
    <span data-target="#my-carousel" class="carousel-control right" role="button" data-slide="next">
        <i class="glyphicon glyphicon-chevron-right"></i></span>
    </div>
<!--end of carousel-->
<div class="container"><h2>Hall of Fame</h2></div>
<h3>Here's the list of our book lovers who have read lots of books and exchanged for others</h3>
<div class="container">
<div class="flex-container">
  <div class="flex-item">
	<img id="member1" src="../images/memb1.png" class="img-responsive img-circle member" alt="First rank" data-toggle="tooltip" title="First rank" data-placement="bottom">
<h3>1. Raj P T</h3>
<h4>117 Books</h4>
	</div>
  <div class="flex-item">
	<img id="member2" src="../images/memb2.png" class="img-responsive img-circle member" alt="Second rank" data-toggle="tooltip" title="Second rank" data-placement="bottom">
	<h3>2. Sachin V</h3>
	 <h4>110 Books</h4>
	</div>
  <div class="flex-item">
	 <img id="member3" src="../images/memb3.png" class="img-responsive img-circle member" alt="Third rank" data-toggle="tooltip" title="Third rank" data-placement="bottom">
	<h3>3. Suresh L</h3>
	<h4>99 Books</h4>
	</div>
</div>
<table class="table table-bordered table-striped table-responsive give">
<tr class="info">
<th>Rank</th>
<th>Name</th>
<th>Number of books exchanged</th>
</tr>
<tr>
<td>4</td>
<td>Gowtham A</td>
<td>95</td>
</tr>
<tr>
<td>5</td>
<td>Ananya J</td>
<td>92</td>
</tr>
<tr>
<td>6</td>
<td>N Ashok</td>
<td>88</td>
</tr>
<tr>
<td>7</td>
<td>Shashidhar K</td>
<td>86</td>
</tr>
<tr>
<td>8</td>
<td>Priya N</td>
<td>83</td>
</tr>
<tr>
<td>9</td>
<td>Ankush P</td>
<td>81</td>
</tr>
<tr>
<td>10</td>
<td>Divya C</td>
<td>77</td>
</tr>
<tr>
<td>11</td>
<td>Hema T</td>
<td>75</td>
</tr>
<tr>
<td>12</td>
<td>Piyush M</td>
<td>74</td>
</tr>
<tr>
<td>13</td>
<td>Bharath Kumar</td>
<td>72</td>
</tr>
<tr>
<td>14</td>
<td>Afzal H</td>
<td>71</td>
</tr>
<tr>
<td>15</td>
<td>Tarun R</td>
<td>70</td>
</tr>
<tr>
<td>16</td>
<td>Ankitha</td>
<td>68</td>
</tr>
<tr>
<td>17</td>
<td>Harish</td>
<td>64</td>
</tr>
<tr>
<td>18</td>
<td>Neeta</td>
<td>62</td>
</tr>
<tr>
<td>19</td>
<td>Shruthi S</td>
<td>61</td>
</tr>
<tr>
<td>20</td>
<td>Gangadhar P</td>
<td>55</td>
</tr>
</table>
</div>