<nav id="homeNav" class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#/">Old Book Shelf</a>
                </div>

                <div class="collapse navbar-collapse" id="js-navbar-collapse">

<ul class="nav navbar-nav">
<li class="" ng-if="isAuthenticated"><a href="#/home">Home</a></li>
<li id="mySignupBtn" class="" ng-if="!isAuthenticated"><a href="#/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
<li id="myLoginBtn" class="" ng-if="!isAuthenticated"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
<li ng-if="!isAuthenticated"><a href="#/working">How it Works</a></li>
<li ng-if="isAuthenticated"><a href="#/about">About Us</a></li>
<li class="" ng-if="isAuthenticated"><a href="#/donatebook">Send Book</a></li>
<li ng-if="isAuthenticated"><a href="#/order">Order Book</a></li>
	<li ng-if="isAuthenticated"><a href="#/hall">Hall of Fame</a></li>
<li ng-if="isAuthenticated"><a href="#/contact">Contact Us</a></li>
<li ng-if="isAuthenticated"><a href="#/faq">FAQ</a></li>
<li ng-if="isAuthenticated"><a href="#/logout">Logout</a></li>
</ul>
                </div>
            </div>
        </nav>
<div id="home">
	<div id="name">Old Book Shelf
	</div>
	<div id="line">Just give and Take</div>
</div>

<div id="take" class="jumbotron">
<h1>Get books to your home free of cost</h1>
	<h3>“Simple give &amp; take policy”</h3>
	<h2>Get discount coupons for latest novels</h2>
</div>
<div id="books" class="container">
<img id="bookTable" src="../images/booktable.jpg" class="img-responsive img-thumbnail books" alt="Book on table" data-toggle="tooltip" title="Book on table" data-placement="bottom">
<img id="bookStack" src="../images/bookstack.jpg" class="img-responsive img-thumbnail books" alt="Book Stack" data-toggle="tooltip" title="Book Stack" data-placement="bottom">
</div>
<div id="take" class="jumbotron">
<h1>1000+ Books | 10+ Genres| 700+ Readers already exchanged books </h1>
</div>
<div id="intro" class="container">
<h3>Old book shelf is an online book shelf that delivers hard copies of old books (good condition) to your home free of cost. We basically maintain different genres of novels. Our book shelf contains only novels of past to recent. Just give a book and get another book you want from our shelf.</h3>
</div>
<div id="novels" class="container-fluid">
<img id="bookTable" src="../images/novels/wizardOz.jpg" class="img-responsive img-thumbnail novels" alt="Book on table" data-toggle="tooltip" title="The Wizard Of Oz" data-placement="bottom">
<img id="bookStack" src="../images/novels/bleachers.jpg" class="img-responsive img-thumbnail novels" alt="Book Stack" data-toggle="tooltip" title="Bleachers" data-placement="bottom">
<img id="bookTable" src="../images/novels/meTalk.jpg" class="img-responsive img-thumbnail novels" alt="Book on table" data-toggle="tooltip" title="Me Talk Pretty One Day" data-placement="bottom">
<img id="bookStack" src="../images/novels/bourneIdentity.jpg" class="img-responsive img-thumbnail novels" alt="Book Stack" data-toggle="tooltip" title="The Bourne Identity" data-placement="bottom">
<img id="bookTable" src="../images/novels/lordRings.jpg" class="img-responsive img-thumbnail novels" alt="Book on table" data-toggle="tooltip" title="The Lord of The Rings" data-placement="bottom">
<img id="bookStack" src="../images/novels/lastUnicorn.jpg" class="img-responsive img-thumbnail novels" alt="Book Stack" data-toggle="tooltip" title="The Last Unicorn" data-placement="bottom">
<img id="bookStack" src="../images/novels/silentSpring.jpg" class="img-responsive img-thumbnail novels" alt="Book Stack" data-toggle="tooltip" title="Silent Spring" data-placement="bottom">
</div>
<div id="intro" class="container">
<h3>There are many book lovers out there who want to read as many books as possible. Some like to read different genres extensively. Give and take as many times you want. Give a book and grab discount vouchers for purchasing the latest books from leading stores.</h3>
</div>
<div class="container">
<h1>Check "How it Works" on menu to know how easily you can get novels freely delivered to your home..</h1>
<h1>Sign up &amp; Login now to see all the available books on our shelf.</h1>
<h3>You might receive any of these discount coupons to purchase latest novels on online stores</h3>
	<div class="container">
<img id="amazon" src="../images/sites/amazon.jpg" class="img-responsive img-thumbnail coupon" alt="Amazon" data-toggle="tooltip" title="Amazon" data-placement="left">
<img id="askme" src="../images/sites/bookadda.png" class="img-responsive img-thumbnail coupon" alt="Book Adda" data-toggle="tooltip" title="Book Adda" data-placement="bottom">
<img id="ebay" src="../images/sites/ebay.png" class="img-responsive img-thumbnail coupon" alt="Ebay" data-toggle="tooltip" title="Ebay" data-placement="bottom">
<img id="flipkart" src="../images/sites/flipkart.jpg" class="img-responsive img-thumbnail coupon" alt="Flipkart" data-toggle="tooltip" title="Flipkart" data-placement="bottom">
<img id="jabong" src="../images/sites/infibeam.jpg" class="img-responsive img-thumbnail coupon" alt="Infibeam" data-toggle="tooltip" title="Infibeam" data-placement="right">
<img id="myntra" src="../images/sites/oxford.png" class="img-responsive img-thumbnail coupon" alt="Oxford" data-toggle="tooltip" title="Oxford" data-placement="left">
<img id="paytm" src="../images/sites/paytm.jpg" class="img-responsive img-thumbnail coupon" alt="Paytm" data-toggle="tooltip" title="Paytm" data-placement="bottom">
<img id="pepperfry" src="../images/sites/rediff.png" class="img-responsive img-thumbnail coupon" alt="Rediff" data-toggle="tooltip" title="Rediff" data-placement="bottom">
<img id="snapdeal" src="../images/sites/snapdeal.png" class="img-responsive img-thumbnail coupon" alt="Snapdeal" data-toggle="tooltip" title="Snapdeal" data-placement="bottom">
<img id="yepme" src="../images/sites/buybooks.png" class="img-responsive img-thumbnail coupon" alt="Buy Books" data-toggle="tooltip" title="Buy Books" data-placement="right">
	</div>
	</div>