<div class="container">
		<div class="jumbotron">
		<h1>Welcome to Ride Share</h1>
		<h4>Save your fuel money by sharing your ride</h4>
		<p>Enjoy hassle-free ride by inviting others along the way..</p>
		<p>Pay us only 20&#37; of the total ride price</p>
		<p>Or just join anyone who are travelling the same way as you...</p>
	</div>
    </div>
<div class="container">
	<h3>Are you on a journey with vacant seats in car?</h3>
	<h3>Share &amp; Earn as you ride</h3>
	<h3>Are you checking for a ride at half price?</h3>
			<h3>Confirm a seat &amp; Pay on the way</h3>
	<div class="well">Ride Share is exclusively for long journey individual travellers who want to save expenses by enjoying friendly rides with any one travelling to almost same destination.</div>
	<div class="alert alert-info">There are many individual travellers looking for ride share service. We want to make this service available to such travellers. So we recommend to allow individuals to join a ride</div>
	<h1 style="color:green; float:right">Wish You Happy Ride &#33;</h1>
    </div>

