<div class="container">
<h1>Welcome to Ride Share</h1>
<h3>Please Login or Sign Up to proceed</h3>
<div class="row" style="margin-top:20px">
    <div class="alert alert-danger" role="alert" ng-if="isError">Invalid login credentials. Please try again.</div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <h2>Please Sign In</h2>
            <hr class="colorgraph">
            <div class="form-group">
                <input name="user_id" type="email" id="user_id" class="form-control input-lg" placeholder="Email Address" ng-model="user.email">
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" ng-model="user.password">
            </div>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <input type="button" name="Login" value="Login" class="btn btn-lg btn-success btn-block" ng-click="doLogin(user);">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6"> <a href="#/signup" class="btn btn-lg btn-primary btn-block">Sign Up</a> </div>
          </div>
    </div>
</div>
<h3>Share your ride with anyone</h3>
	<h3>Save your travel expenses as much as possible</h3>
</div>