<div class="row" style="margin-top:20px">
    
    <div class="col-xs-12 col-sm-8 col-md-12">
        <fieldset>
            <h2>Enter the search criteria</h2>
            <hr class="colorgraph">

            <!--            ride from and to address-->
            <div class="form-group col-md-3">
                <input name="fromAddress" type="text" id="fromAddress" class="form-control input-lg" placeholder="From Address" ng-model="ride.fromAddress" g-places-autocomplete>
            </div>
            <div class="form-group col-md-3">
                <input name="toAddress" type="text" id="toAddress" class="form-control input-lg" placeholder="To Address" ng-model="ride.toAddress" g-places-autocomplete>
            </div>

            <!--ride date and time fields-->
            <div class="form-group col-md-3">
                <input name="rideDate" type="date" id="rideDate" class="form-control input-lg" placeholder="dd/mm/yyyy" ng-model="ride.rideDate">
            </div>

            <div class="form-group col-md-3">
                <input type="button" name="SearchRide" value="Search Ride" class="btn btn-lg btn-success btn-block" ng-click="searchRide(ride);">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12">
                <fieldset>
                    <hr class="colorgraph">
                </fieldset>
            </div>
        </fieldset>
       
    </div>
</div>
<div class="alert alert-danger" role="alert" ng-if="isError">No Results Found</div>
    <div class="alert alert-success" role="alert" ng-if="isSuccess">Your search returned {{searchCount}} results. Only 1 person allowed per ride</div>
<div class="alert alert-success" role="alert" ng-if="isBooked">Thank You for booking. Please confirm your seat from the owner. Have a great and safe journey !</div>	
<div class="row">

    <div class="col-md-12">
 <!--Display search results in table-->
        <table id="searchResult" class="table table-bordered table-hover">
            
            <thead>
            	<th>Ride Id</th>
                <th>From</th>
                <th>To</th>
                <th>Journey Time</th>
                <th>Type Of Car</th>
                <th>Owner Details</th>
                <th>Available Seats</th>
                <th>Ride Price (Rs.)</th>
                <th></th>
            
            </thead>
            
            <tbody>
            
                <tr ng-repeat="item in searchResults">
                	<td>{{item._id}}</td>
                    <td>{{item.fromAddress}}</td>
                    <td>{{item.toAddress}}</td>
                    <td>{{item.rideTime}}</td>
                    <td>{{item.carDetails}}</td>
                    <td>{{item.phoneNo}}</td>
                    <td>{{item.avlSeats}}</td>
                    <td>{{item.ridePrice}}</td>
                    <td>
                    
                         <button title="Book Ride" class="btn btn-default btn-sccess" ng-click="bookRide(item)"> <span class="glyphicon glyphicon-plus-sign"></span></button>
                    
					</td>    
                </tr>    
			</tbody>
        </table>
    </div>
	
</div>