header{
			font-family: sans-serif;
			text-align: center;
			padding: 20px;
			width: 100%;
			background-image: url(../images/018_WideLandscape.jpg);
		}
		#funtour{
			width:200px;
			height:100px;
		}
		.container{
			background-color: white;
			height: 100%;
			margin-bottom: 20px;
			padding: 10px;
		}
		body{
			background-color: mistyrose;
		}
		section {
			position: relative;
			padding: 10px;
			min-height:600px;
			height: 100%;
			width:100%;
			
		}
		.photo {
			margin:10px;
			max-width: 100%;
		}

	div.img {
    margin: 15px;
    border: 1px solid #aaa;
	border-radius: 4px;
	padding: 5px;
	float: left;
}

div.img:hover {
    border: 1px solid #777;
}

div.desc {
    padding: 15px;
    text-align: center;
}
#my-carousel {
            margin: 50px 70px;
        }
		.carousel-inner > .item > img {
    width: 100%;
	height:400px;
        }
#map{
	min-width:100%;
	min-height: 300px;
}
		footer {
			position: relative;
			padding: 15px;
			font-family: sans-serif;
			height: 125px;
			width: 100%;
			background-color: forestgreen;
			}
		
		#connect {
            float: right;
            display: inline-block;
            list-style: none;
        }
        #connect a {
            background: url(../images/icons-square.jpg) no-repeat;
            float: left;
            display: inline-block;
            height: 42px;
            width: 42px;
            margin: 0 15px;
        }
        #connect a.facebook {
            background-position: -2px -3px;
        }

        #connect a.twitter {
            background-position: -96px -50px;
        }
		#connect a.googleplus {
            background-position: -1px -96px;
        }
        #connect a.instagram {
            background-position: -49px -3px;
        }
		#connect a.youtube {
            background-position: -96px -96px;
        }